{% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} d-flex align-items-center alert-dismissible fade show custom-msg" role="alert">
        {% if message.tags == 'success' %}
          <i class="fas fa-check-circle me-2 text-success"></i>
        {% elif message.tags == 'error' or message.tags == 'danger' %}
          <i class="fas fa-times-circle me-2 text-danger"></i>
        {% elif message.tags == 'warning' %}
          <i class="fas fa-exclamation-triangle me-2 text-warning"></i>
        {% elif message.tags == 'info' %}
          <i class="fas fa-info-circle me-2 text-info"></i>
        {% endif %}
        <div>{{ message }}</div>
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  </div>
{% endif %}